site_name: MC2DP Documentation
site_url: https://mc2dp.data-commons.org/
repo_url: https://github.com/uc-cdis/mc2dp-documentation
nav:
  - Return to MC2DP Platform: https://mc2dp.data-commons.org/
  - Home: index.md
  - How to Get Started:
    - Quickstart - MC2DP Overview: index.md
    - Login Page: loginoverview.md
    - Exploration Page: exploration_page.md
    - Mesh Metadata Page: mesh_metadata_page.md
    - Data Connections: data_connections_page.md
    - Analysis Page: analysis_page.md
    - Data Library Page: data_library_page.md
    - Profile Page: profile_page.md
  - Workspace User Guide: 
    - Getting Started in Workspace: workspace_start.md
    - Data Security and Downloading Results: workspace_data_security.md
  - FAIR Data: fair_data.md
  - Security and Downloading Results: security_and_downloading_results.md
  - Contact: contact.md

theme:
  favicon: img/favicon.ico
  logo: img/mc2dp-logo.png
  name: material

  palette:

   # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: brh_platform
      toggle:
        icon: material/eye
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: brh_platform_dark
      toggle:
        icon: material/eye-outline
        name: Switch to light mode
  features:
    - navigation.indexes
    - navigation.tracking
extra_css:
  - stylesheets/extra.css
use_directory_urls: true
markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - toc:
      permalink: True
      baselevel: 1
  - pymdownx.superfences
  - pymdownx.details
plugins:
  - search
  - mkdocs-video:
      is_video: True
